<div class="jumbotron center">
<div class="container">
<h1>Hello Finance!</h1>
<h4 class="open">The first platform where financial analysts can buy and sell</br> their financial models</h4>
<a><%= link_to "Browse", listings_path, class: "btn btn-danger" %></a>
</div>
</div>

<div class="col-md-12 red">
  </br>
  </br>
  <div class="container text-center">
    <h4>HOW IT WORKS</h4>
    <span class="open-title"><h4>Don't waste time to build financial models.</h4></span>
  </div>
</br>

<div class="container">
	  <div class="col-sm-6 col-md-4">
	    <div class="thumbnail red noborder">
	      <div class="caption text-center">
   			 <i class="fa fa-adjust fa-3x"></i>
	        <h4><strong>Simplicité</strong></h4>
	        <span class="open"><p>Des templates faciles à prendre en main.</p></span>
	      </div>
	    </div>
	  </div>
	  <div class="col-sm-6 col-md-4">
	    <div class="thumbnail red noborder">
	      <div class="caption text-center">
   			 <i class="fa fa-bar-chart fa-3x"></i>
	        <h4><strong>Efficacité</strong></h4>
	        <span class="open"><p>Des modèles de business plan dignes des meilleurs experts financiers.</p></span>
	      </div>
	    </div>
	  </div>
	  <div class="col-sm-6 col-md-4">
	    <div class="thumbnail red noborder">
	      <div class="caption text-center">  
   			 <i class="fa fa-credit-card fa-3x"></i>
	        <h4><strong>Rentabilité</strong></h4>
	        <span class="open"><p>Des tarifs défiant toute concurrence.</p></span>
	      </div>
	    </div>
	  </div>
	</div>
	</br>
</div>

<div class="col-md-12 brown">
  </br>
  </br>
  <div class="container text-center">
    <h4>NEW ARRIVALS</h4>
    <span class="open-title"><h4>Find the best suited financial model for you.</h4></span>
  </div>
</br>

<div class="container">
	  <div class="col-sm-4 col-md-3">
	    <div class="thumbnail brown noborder">
	      <div class="caption text-center">
   			 <i class="fa fa-adjust fa-3x"></i>
	        <h4><strong>Simplicité</strong></h4>
	        <span class="open"><p>Des templates faciles à prendre en main.</p></span>
	      </div>
	    </div>
	  </div>
	  <div class="col-sm-4 col-md-3">
	    <div class="thumbnail brown noborder">
	      <div class="caption text-center">
   			 <i class="fa fa-bar-chart fa-3x"></i>
	        <h4><strong>Efficacité</strong></h4>
	        <span class="open"><p>Des modèles de business plan dignes des meilleurs experts financiers.</p></span>
	      </div>
	    </div>
	  </div>
	  <div class="col-sm-4 col-md-3">
	    <div class="thumbnail brown noborder">
	      <div class="caption text-center">  
   			 <i class="fa fa-credit-card fa-3x"></i>
	        <h4><strong>Rentabilité</strong></h4>
	        <span class="open"><p>Des tarifs défiant toute concurrence.</p></span>
	      </div>
	    </div>
	  </div>
	  <div class="col-sm-4 col-md-3">
	    <div class="thumbnail brown noborder">
	      <div class="caption text-center">  
   			 <i class="fa fa-credit-card fa-3x"></i>
	        <h4><strong>Rentabilité</strong></h4>
	        <span class="open"><p>Des tarifs défiant toute concurrence.</p></span>
	      </div>
	    </div>
	  </div>
	</div>
	</br>
  	<div class="text-center"><h3>Déjà plus de 150 templates téléchargés et autant de clients satisfaits.</h3></div>
  </br>
</div>

<div class="col-md-12 red">
  </br>
  </br>
	<div class="container">
    <div class="text-center"><h4>TESTIMONIALS</h4></div>
    <div class='col-md-12'>
      <div class="carousel slide" data-ride="carousel" id="quote-carousel">
        <!-- Bottom Carousel Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
          <li data-target="#quote-carousel" data-slide-to="1"></li>
          <li data-target="#quote-carousel" data-slide-to="2"></li>
        </ol>
        
        <!-- Carousel Slides / Quotes -->
        <div class="carousel-inner">
        
          <!-- Quote 1 -->
          <div class="item active">
            <blockquote>
              <div class="row red">
                <div class="col-md-8 col-md-offset-2 open">
                  <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit!</p>
                  <small>Someone famous</small>
                </div>
              </div>
            </blockquote>
          </div>
          <!-- Quote 2 -->
          <div class="item">
            <blockquote>
              <div class="row red">
                <div class="col-md-8 col-md-offset-2 open">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam auctor nec lacus ut tempor. Mauris.</p>
                  <small>Someone famous</small>
                </div>
              </div>
            </blockquote>
          </div>
          <!-- Quote 3 -->
          <div class="item">
            <blockquote>
              <div class="row red">
                <div class="col-md-8 col-md-offset-2 open">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam auctor nec lacus ut tempor. Mauris.</p>
                  <small>Someone famous</span></small>
                </div>
              </div>
            </blockquote>
          </div>
  	   </div>
        
        <!-- Carousel Buttons Next/Prev -->
        <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
        <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
      </div>                          
    </div>
  </div>
  </br>
</br>
</div>
</div>