<div class="col-md-12 text-center social">
	<div class="container">	
	  </br>
	  <p>JOIN US!</p>  
	  <div class="wall-entry">
	    <a class="btn btn-social-icon btn-twitter"><i class="fa fa-twitter fa-2x"></i></a>
	    <a class="btn btn-social-icon btn-facebook"><i class="fa fa-facebook fa-2x"></i></a>
	    <a class="btn btn-social-icon btn-linkedin"><i class="fa fa-linkedin fa-2x"></i></a>
	  </div>
	</div>
</br>
</div>

<div class="col-md-12 footer">
	<div class="container">	
    </br>
    </br>
    <div class="col-xs-6 col-sm-3 wall-entry nopaddingleft">
            <h4><strong>Company</strong></h4>
            <ul class="footer-list open">
            <li><%= link_to "About", pages_about_path %></li>
            <li><%= link_to "Contact", pages_contact_path %></li>
            <li><a href="/">Privacy policy</a></li>
            <li><a href="/">Terms of use</a></li>
            </ul>
    </div>
    <div class="col-xs-6 col-sm-3 wall-entry nopaddingleft">
            <h4><strong>Discover</strong></h4>
            <ul class="footer-list open">
            <li><a href="/">Home</a></li>
            <li><a href="/">Blog</a></li>
            </ul>
    </div>
    <div class="col-xs-6 col-sm-6 nopaddingleft">
            <h4><strong>Newsletter</strong></h4>
            <p><span class="open">Get some news of <strong>finexpr</strong></span></p>
             <form class="form-inline">
              <input type="text" class="form-control" placeholder="Adresse email">
              <button type="submit" class="btn btn-danger">Subscribe</button>
            </form>
    </div>
</div>
</div>

<div class="col-md-12 footer">	
  <div class="container open">
  </br>
  </br>
  <div class="col-xs-6 text-left nopaddingleft">Copyright 2015. All rights reserved.</div>
  <div class="col-xs-6 text-right wall-entry"><a href="#top" onclick="$('html,body').animate({scrollTop:0},'slow');return false;"><i class="fa fa-angle-up fa-fw"></i>Back to Top</a></div>  
</br>
</br>
</div>